[submodule "first-foundry/lib/forge-std"]
	path = first-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "first-foundry/lib/permit2"]
	path = first-foundry/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "first-foundry/lib/openzeppelin-contracts"]
	path = first-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Permit2/lib/forge-std"]
	path = Permit2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Permit2/lib/openzeppelin-contracts"]
	path = Permit2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Permit2/lib/permit2"]
	path = Permit2/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "IDOAndPledge/lib/forge-std"]
	path = IDOAndPledge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "IDOAndPledge/lib/openzeppelin-contracts"]
	path = IDOAndPledge/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Slot/lib/forge-std"]
	path = Slot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Slot/lib/openzeppelin-contracts"]
	path = Slot/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contract-upgrade/lib/forge-std"]
	path = contract-upgrade/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract-upgrade/lib/openzeppelin-foundry-upgrades"]
	path = contract-upgrade/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "contract-upgrade/lib/openzeppelin-contracts-upgradeable"]
	path = contract-upgrade/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contract-security/lib/forge-std"]
	path = contract-security/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract-monitor/lib/forge-std"]
	path = contract-monitor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract-monitor/lib/chainlink"]
	path = contract-monitor/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "flashbots-test/lib/forge-std"]
	path = flashbots-test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "flashbots-test/lib/openzeppelin-contracts"]
	path = flashbots-test/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Dex/lib/forge-std"]
	path = Dex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Dex/lib/openzeppelin-contracts"]
	path = Dex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Dex/lib/v2-core"]
	path = Dex/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "Dex/lib/v2-periphery"]
	path = Dex/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
