[submodule "first-foundry/lib/forge-std"]
	path = first-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "first-foundry/lib/permit2"]
	path = first-foundry/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "first-foundry/lib/openzeppelin-contracts"]
	path = first-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Permit2/lib/forge-std"]
	path = Permit2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Permit2/lib/openzeppelin-contracts"]
	path = Permit2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Permit2/lib/permit2"]
	path = Permit2/lib/permit2
	url = https://github.com/Uniswap/permit2
